In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import seaborn as sns
%matplotlib inline

In [16]:
dflb = pd.read_csv('list_boston.csv')

In [17]:
dflb = dflb[['id','cancellation_policy','guests_included','host_response_time','host_response_rate','host_acceptance_rate','host_has_profile_pic','host_identity_verified','room_type','accommodates','bathrooms','bedrooms','beds','bed_type','price','number_of_reviews','review_scores_rating','instant_bookable','reviews_per_month','review_scores_value','review_scores_location','review_scores_communication','review_scores_checkin','review_scores_cleanliness','review_scores_accuracy']]

In [18]:
dflb['price'] = dflb['price'].str.replace('$','')
dflb['price'] = dflb['price'].str.replace(',','')
dflb['price'] = dflb.price.astype(float)
dflb['host_response_rate'] = dflb['host_response_rate'].str.replace('%','')
dflb['host_response_rate'] = dflb.host_response_rate.astype(float)
dflb['host_acceptance_rate'] = dflb['host_acceptance_rate'].str.replace('%','')
dflb['host_acceptance_rate'] = dflb.host_acceptance_rate.astype(float)
dflb = dflb.drop(['id'],axis=1)

In [56]:
dflb_a = dflb.drop(['review_scores_communication','review_scores_location','review_scores_value','review_scores_checkin','review_scores_cleanliness','review_scores_accuracy'],axis=1)

In [65]:
dflb_a = dflb

In [66]:
dflb_a = dflb_a.dropna(subset=['review_scores_rating'])

In [67]:
dflb_a.shape[0]

2772

In [68]:
num_vars = dflb_a.select_dtypes(include=['float', 'int']).columns
for col in num_vars:
    dflb_a[col].fillna((dflb_a[col].mean()), inplace=True)

/Users/bamboo/Library/Python/3.6/lib/python/site-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [69]:
Xb = dflb_a.drop(['review_scores_rating'],axis=1)
yb=dflb_a['review_scores_rating']

In [70]:
cat_vars = Xb.select_dtypes(include=['object']).copy().columns
for var in  cat_vars:
    Xb = pd.concat([Xb.drop(var, axis=1), pd.get_dummies(Xb[var], prefix=var, prefix_sep='_', drop_first=True)], axis=1)

In [71]:
Xb.sum()

guests_included                            4112.000000
host_response_rate                       265070.327586
host_acceptance_rate                     235973.017241
accommodates                               8485.000000
bathrooms                                  3367.578261
bedrooms                                   3467.756962
beds                                       4504.750542
price                                    462049.000000
number_of_reviews                         68210.000000
reviews_per_month                          5547.720000
review_scores_value                       25417.524430
review_scores_location                    26095.138306
review_scores_communication               26741.882863
review_scores_checkin                     26739.169320
review_scores_cleanliness                 25662.546638
review_scores_accuracy                    26143.745020
cancellation_policy_moderate                786.000000
cancellation_policy_strict                 1279.000000
cancellation_policy_super_strict_30          68.000000
host_response_time_within a day             381.000000
host_response_time_within a few hours       977.000000
host_response_time_within an hour          1172.000000
host_has_profile_pic_t                     2765.000000
host_identity_verified_t                   2127.000000
room_type_Private room                     1078.000000
room_type_Shared room                        53.000000
bed_type_Couch                                6.000000
bed_type_Futon                               48.000000
bed_type_Pull-out Sofa                       27.000000
bed_type_Real Bed                          2662.000000
instant_bookable_t                          475.000000
dtype: float64

In [72]:
reduce_Xb = Xb.iloc[:, np.where((Xb.sum() > 50) == True)[0]]
X_train, X_test, y_train, y_test = train_test_split(reduce_Xb, yb, test_size = .30, random_state=42) 
lm_model = LinearRegression(normalize=True) # Instantiate
lm_model.fit(X_train, y_train) #Fit
        
#Predict and score the model
y_test_preds = lm_model.predict(X_test) 
"The r-squared score for the model using only quantitative variables was {} on {} values.".format(r2_score(y_test, y_test_preds), len(y_test))

'The r-squared score for the model using only quantitative variables was 0.7158221019128446 on 832 values.'

In [73]:
y_test_preds

array([ 98.67963792,  98.19156345,  99.50775294,  87.91776133,
        85.40726449,  89.0728426 ,  91.88029176,  95.25994239,
        98.64384035,  52.82742031,  86.18274031,  89.9406823 ,
        95.63452806,  87.44226694,  96.32503886,  98.78030454,
        90.76218744,  93.45518042,  97.27304247,  92.24500477,
        63.65844594,  96.23030421,  69.89842098,  95.7399852 ,
        92.24895503,  97.75897593,  93.67440985,  97.5630295 ,
        95.43822877,  93.30633873,  82.84156236,  98.34599436,
       100.46724198,  87.0787602 ,  75.93045383,  98.15385531,
        94.74240337,  95.90558074,  94.45014607,  82.47576627,
        98.81479087,  74.93716543,  85.3031351 ,  98.31905181,
        89.92642243,  96.8944292 ,  99.17185392,  75.93818191,
        95.86076125,  99.49719327,  95.26002631,  97.78894324,
        86.67995226,  97.25360927,  98.7124348 ,  95.74964149,
        99.29784318,  93.54133778,  96.57576765,  98.90524847,
        88.14021039,  98.73915815,  98.96272649,  90.97657765,
        93.05508416,  63.35503357,  90.44476803,  95.81291271,
        94.86122695,  99.13234546,  84.76228749,  91.19018296,
        97.30223127,  95.17572381,  90.58809689,  99.30191276,
        77.33286972,  93.7615344 ,  98.76013508,  95.75717755,
        96.32757366,  94.47577288,  98.44977076,  91.3724787 ,
        89.33183761,  74.73109316,  97.95575599,  98.86286505,
        93.97217369,  75.54906172,  94.62198957,  92.04306328,
        98.51243341,  79.51465666,  90.46291042,  98.59977466,
        98.31188181,  91.46509621,  94.96474966,  86.55356859,
        99.34993401,  83.22889356,  99.02452916,  83.12639415,
        97.93669262,  74.29967457,  98.53164018,  82.45792703,
        87.21785764,  75.18828503,  96.07718587,  98.52722981,
        98.87600052,  92.57827957,  80.3165656 ,  94.98303337,
        98.25365861,  95.76366966,  95.47515696,  98.02215693,
        96.11673526,  92.20034408,  99.83402862,  82.4619262 ,
        91.74634102,  92.64323165,  94.18720913,  98.88580647,
        94.71661334,  99.23431906,  95.39717542,  93.4069519 ,
        93.97267932,  99.22865781,  96.65120604,  92.00224305,
        98.25787127,  94.51004794,  94.73510092,  98.41308433,
        85.5492961 ,  92.86885155,  99.27024569,  94.15382592,
        99.56987598,  90.67280307,  99.29395208,  84.16792978,
        98.61020233,  98.13709228,  99.25379011,  99.27246154,
        82.66076795,  97.68675093,  94.55851668,  94.0434326 ,
        52.93621522,  95.08040567,  92.53307082,  95.62212183,
        98.5382548 ,  91.87060493,  97.95824261,  81.84263405,
        95.80108561,  96.38233312,  86.80227244,  98.32614648,
        83.6957768 , 100.03948138,  82.38407731,  98.47876897,
        87.58620089,  95.37985106,  99.17691233,  99.15777711,
        97.91776728,  89.02570696,  93.36884117,  53.72461281,
        98.46744031,  97.9209984 ,  88.63937816,  91.07332458,
        99.21735411,  92.67426562,  99.06159352,  99.22081963,
        99.14806852,  99.45797954,  98.88004163,  98.11676339,
        98.89011916,  98.13778649,  89.55948678,  98.26193542,
        99.14150612,  98.8587412 ,  89.29310387,  89.44361228,
        83.82478379,  91.76507317,  98.18936401,  68.22243348,
        85.62829447,  92.63049833,  98.78774477,  89.80734022,
        96.60146243,  61.44556511,  98.26310395,  94.51907876,
        98.03300366,  77.71984751,  98.86645888,  85.33658973,
        99.42198459,  99.22023326,  91.41205181,  91.80265921,
        88.77670476,  94.32867222,  95.16414683,  96.833782  ,
        97.52341791,  86.07472762,  90.011653  ,  98.49102609,
        96.98011711,  98.94459104,  98.70554141,  96.73511554,
        98.74300404,  95.84793358,  95.7932258 ,  98.53416845,
        92.90690742,  96.26069282,  98.91912469,  96.80039575,
        95.3835359 ,  86.24927806,  93.54607786,  92.52746365,
        98.80196837,  98.18673679,  92.95354759,  91.79420671,
        98.36158948,  98.58681858,  77.5135034 ,  99.67838969,
        90.77225456,  89.00972525,  95.21897704,  92.49807298,
        98.26772368,  91.42449384,  94.89908507,  92.38434886,
        96.22261085,  98.57095588,  98.41886068,  98.22560207,
        99.29113086,  94.55429494,  96.05885092,  99.1976751 ,
        99.0932381 ,  98.99838053,  91.78360983,  97.97213638,
        97.80798154,  96.50244069,  97.06587255,  88.76928972,
        94.46189549,  87.90783342,  98.98596027,  97.85125577,
        98.75792325,  93.11018265,  98.56831676,  89.40088029,
        97.99381757,  45.77069152,  94.68604598,  94.49062966,
        99.59034602,  82.70869772,  90.22043238,  33.52364531,
        98.41827386,  86.21617668,  74.92833277,  99.08007452,
        98.34305403,  97.85444183,  80.62185834,  94.35816083,
        89.54817408,  93.85054187,  99.00908957,  86.11099291,
        98.90252091,  93.10888869,  98.23414973,  95.5296906 ,
        98.62977596,  94.76913066,  95.2196569 ,  95.22457596,
        97.98433977,  98.51187124,  96.11202151,  98.6137781 ,
        94.10189132,  85.69492932,  98.28015918,  95.63055803,
        95.30376005,  91.81888809,  98.48019783,  80.28666031,
        94.57748261,  81.66721662,  88.63678591,  95.09299042,
        93.1860644 ,  81.78123538,  97.84549311,  97.8187881 ,
        88.58040936,  98.91368742,  86.31492661,  93.76102036,
        90.17025147,  91.05473114,  98.87029102,  66.60220394,
        99.70589175,  98.78822177,  88.8173058 ,  81.84937976,
        91.75264636,  85.34050279,  94.89705042,  97.88854033,
        91.56728261,  82.7406198 ,  91.63790533, 100.83648553,
        88.31271128,  65.50827563,  83.97132099,  82.27297203,
        92.70858378,  93.90901147,  98.27202169,  96.85293693,
        96.49784062,  92.28356551,  90.3245799 ,  97.17158698,
        89.52984972,  88.90214029,  85.53084287,  90.54686131,
        98.57919922,  95.25040215,  81.62636778,  93.737579  ,
        99.17696712,  93.66797282,  98.34634104,  95.78348575,
        98.86299497,  98.11115197,  99.84718878,  87.30354664,
        87.07342818,  92.59714787,  99.13646644,  86.48157335,
        82.88250465,  88.72868664,  98.85466657,  93.56004647,
        92.65967947,  88.80576884,  88.98074364,  90.81179936,
        98.35111685,  91.92323861,  86.3924265 ,  96.41787993,
        99.99372226,  98.46061095,  74.51611654,  90.46034279,
        77.07262106,  85.31336063,  94.21410417,  92.12793576,
        95.95134787,  98.97695315,  74.0173557 ,  94.87667299,
        92.422654  ,  91.64671576,  92.59951218,  98.60889962,
        84.80773994,  87.06896374,  98.32726261,  98.7265076 ,
        93.73824307,  98.38349325,  95.83226169,  68.80643551,
        85.86000877,  97.13822728,  81.3713449 ,  88.46130576,
        89.51935004,  91.84919301,  91.22063032,  99.16751764,
        95.25081465,  98.9647727 ,  86.9694608 ,  91.25019849,
        87.34753531,  90.76422173,  95.04255231,  90.41714945,
        97.86611219,  86.84406994,  89.00771026,  45.34884233,
        74.04389972,  95.96075101,  91.80801097,  94.31493126,
        96.85354616,  88.21500382,  92.19365193,  97.93089456,
        89.70606971,  89.76976712,  90.60669107,  99.00406867,
        76.8233709 ,  89.91711087,  93.55853888,  96.30332511,
        92.28516862,  87.16860719,  99.44684501,  98.44827587,
        97.61451515,  95.58031678,  88.342871  ,  90.45673102,
        96.43574696,  99.02398955,  98.66543607,  92.87220597,
        96.4099799 ,  85.28831516,  91.07379618,  99.04303745,
        94.87962438,  99.02878551,  88.86657591,  99.19312261,
        91.7855809 ,  97.46265761, 100.4248313 ,  93.20662694,
        98.28003926,  97.98576333,  96.13038309,  96.10096909,
        87.37206497,  93.47988575,  88.23671421,  99.26116601,
        89.5135446 ,  93.57429789,  92.97589557,  59.85798386,
        77.88921339,  98.59134266,  98.95019753,  88.94139551,
        97.77952899,  93.461656  ,  90.67849333,  97.48503235,
        93.2355221 ,  89.14392267,  97.6212646 ,  89.56912426,
        95.07351281, 100.17824285,  84.41142812,  97.67002629,
        74.01304789,  93.65894051,  88.81964494,  90.42751529,
        97.43501695,  90.24446708,  98.54422858,  95.88701144,
        96.31072709,  97.94277104,  99.05704612,  93.50101075,
        90.70786519,  90.96794195,  96.48180966,  91.66169064,
        93.58416253,  93.68186597,  98.34967294,  94.28437038,
        90.36571571,  98.72273331,  94.73231268,  85.82952316,
        94.50457713,  95.24069847,  97.60982652,  81.83764572,
        85.70886073,  89.26492795,  80.34794662,  89.03131282,
        91.06989853,  94.45700481,  84.69435138,  97.92540726,
        87.80982565,  91.37235531,  94.90017012,  95.29264831,
        94.07199438,  98.5393337 ,  85.3272248 ,  84.74814738,
        95.09878818,  93.10524679,  98.20252036,  96.61258854,
        91.81859028,  87.91526169,  87.68337599,  94.67691598,
        75.07865792,  93.72249963,  91.86925195,  83.23441202,
        86.37089884,  63.14695075,  89.82238132,  89.3809288 ,
        91.90681012,  98.01481079,  98.50892538,  95.63090665,
        93.05249394,  86.26862079,  82.88062952,  70.05430182,
        95.46389173,  79.25729129,  95.75322794,  87.98241248,
        83.7123811 ,  93.72597154,  91.03318369,  87.19592349,
        98.37404688,  98.91213453, 100.89007216,  89.65114167,
        86.58315106,  95.27530394,  94.92941665,  99.34142935,
        98.96234161,  96.43694428,  59.55880437,  95.22233005,
        83.68452973,  83.41491537,  99.86671869,  99.22699396,
        94.66584848,  75.06460486,  98.53470312,  93.96541735,
        75.58323403,  77.08423757,  99.21067121,  96.9620844 ,
        82.00940429,  92.74861291,  98.27427259,  94.97486836,
        85.08944147,  98.73323289,  69.2471611 ,  94.68954461,
        95.61600914,  90.16354386,  98.11143704,  78.48239746,
        94.13084855,  99.13265478,  85.91350177,  92.98357665,
        90.3399859 ,  90.92538915,  98.55702625,  97.66166852,
        89.05109422,  94.16119321,  98.17164792,  86.13670438,
        94.96847264,  78.15283769,  96.95864678,  98.45398672,
        85.33310257,  97.57667928,  89.27878124,  96.91139467,
        98.6947666 ,  99.43202608,  93.03140607,  89.16171522,
        91.16970613,  98.20456629,  95.88384534,  88.52555854,
        99.31599578,  82.16105669,  98.40160623,  90.57324209,
        89.18653126,  89.45423902,  98.88243867,  94.61241251,
        80.53286577,  88.78416144,  89.74084589,  91.73135778,
        83.61709802,  98.73072105,  74.40711942,  75.38094775,
        99.3962024 ,  98.51262162,  97.76959071,  99.01110821,
        91.1140976 ,  92.87347576,  76.35888304,  82.34940712,
        93.82924153,  86.06292552,  96.95314263,  78.37944854,
        95.94656436,  97.6758629 ,  97.0760699 ,  93.27824128,
        94.8843706 ,  96.03541155,  95.58153701,  99.18059062,
        95.07254714,  98.81591391,  98.07211118,  98.54840628,
        98.59509833,  65.48794444,  93.35728143,  89.04154694,
        87.98945861,  92.7901984 ,  78.80457604,  99.18115341,
        87.40557989,  94.82968186,  92.22765357,  95.64332056,
        93.22070106,  95.52461526,  82.60493714,  85.26802984,
        93.89639778,  90.87574032,  92.89030051,  88.44254389,
        91.90102767,  98.89427146,  97.82249054,  91.04663629,
        87.60030372,  96.09806204,  98.54301049,  86.92912591,
        95.00887006,  96.92669484,  92.98459317,  96.02924913,
        98.87979657,  92.18966332,  94.91276371,  95.28121975,
        77.97972521,  98.63675921,  84.38573558,  98.21170176,
        98.74480679,  96.02632294,  96.32405844,  95.34458622,
        98.14936417,  95.15143919,  85.10943955,  90.76519637,
        86.83206421,  99.2414587 ,  88.02876134,  86.92373014,
        92.62145616,  99.47943131,  98.89307714,  98.89897892,
        99.33661087,  98.64896041,  98.55770269,  86.85092385,
        90.48470418,  98.64745494,  91.27667343,  87.90485208,
        89.01249321,  95.00551771,  98.31278765,  91.82640578,
        80.66352938,  98.50429398,  89.69174077,  92.59347782,
        84.68700925,  99.09385628,  94.63301101,  82.33430841,
        88.72192928,  98.24970827,  98.84501128,  94.30982313,
        55.82236673,  86.16749232,  91.00507695,  87.89754273,
        99.90847207,  99.80914977,  83.50553923,  93.37617489,
        85.82554362,  93.63615016,  87.38969387,  91.42545179,
        88.1269077 ,  98.93849208,  93.52462326,  92.15751511,
        67.68182031,  60.26908699,  91.88589577,  96.28395432,
        85.78705142,  93.69590777,  95.46864724,  98.76852144,
        89.8575209 ,  90.82887403,  99.30408293,  84.55005073,
        98.47835916,  64.65706141,  93.21023678,  99.73957888,
        98.05442951,  95.73273603,  95.25332295,  98.74457249,
        88.34446629,  98.08863627,  92.47287559,  90.89202623,
        98.30656381,  91.97702179,  98.58842862,  96.9964213 ,
        95.21799721,  99.13545466,  93.67557684,  91.73006914,
        91.33280535,  92.30747261,  95.62115868,  85.87199446,
        90.35011969,  88.01518475,  76.25260586,  99.19433391,
        94.06137603,  76.33345946,  95.13560186,  78.4302645 ,
        87.90961185,  98.6518639 ,  99.18057027,  89.6933564 ])

In [45]:
y_test

2570     9.0
1528    10.0
1720    10.0
3286     9.0
1660     9.0
        ...
1180    10.0
2021     9.0
2005    10.0
1071    10.0
1906    10.0
Name: review_scores_value, Length: 830, dtype: float64

array([ 8,  9,  9,  8,  9,  9,  9,  8,  9,  9,  9,  9,  9,  9,  8,  8,  9,
        8,  8,  9,  9,  8,  8,  9,  8,  9,  9,  8,  9,  9,  9,  9,  8,  9,
        9,  9,  8,  9,  9,  8,  9,  9,  9,  9,  9,  9,  8,  9,  9,  9,  9,
        9,  9,  8,  9,  9,  8,  9,  9,  9,  9,  9,  8,  8,  9,  9,  9,  8,
        8,  9,  9,  8,  9,  8,  9,  9,  8,  9,  8,  8,  9,  9,  9,  8,  8,
        9,  8,  9,  9,  9,  8,  9,  9,  9,  9,  9,  9,  9,  8,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  8,  9,  9,  8,  8,  8,  9,  8,  9,  9,
        9,  9,  9,  9,  8,  9,  9,  9,  9,  9,  8,  8,  9,  9,  9,  8,  9,
        9,  9,  8,  9,  8,  9,  9,  9,  9,  9,  8,  9,  9,  9,  9,  9,  9,
        9,  9,  8,  9,  9,  9,  8,  9,  9,  9,  8,  9,  8,  8,  9,  9,  9,
        9,  9,  8,  9,  9,  8,  8,  9,  8,  9,  9,  9,  9,  8,  9,  9,  9,
        9,  8,  9,  9,  9,  9,  9,  8,  8,  8,  9,  9,  8,  8,  9,  8,  9,
        9,  9,  9,  9,  9,  8,  9,  9,  9,  8,  8,  9,  9,  9,  9,  8,  9,
        8,  9,  9,  8,  9,  9,  9,  9,  9,  8,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  8,  9,  8,  8,  8,  9,  9,  9,  8,  9,  9,  9,  9,  9,
        9,  8,  9,  9,  8,  8,  8,  9,  9,  9,  8,  8,  9,  9, 10,  9,  8,
        9,  8,  8,  8,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  8,  9,  9,
        9,  9,  9,  9,  9,  8,  9,  9,  8,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  8,  8,  9,  9,  8,  9,  8,  8,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  8,  9,  9,  9,  9,  9,  9,  8,  9,
        8,  9,  8,  9,  8,  9,  8,  9,  8,  8,  9,  9,  8,  9,  9,  9,  9,
        9,  8,  8,  9,  8,  9,  9,  9,  8,  9,  8,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  8,  9,  9,  9,  8,  8,  9,  9,  9,  9,  9,  9,
        8,  9,  9,  8,  9,  9,  9,  9,  9,  9,  9,  9,  8,  9,  9,  9,  9,
        8,  8,  8,  9,  8,  9,  9,  9,  9,  8,  9,  9,  8,  8,  9,  9,  9,
        9,  9,  9,  9,  8,  9,  9,  9,  8,  9,  8,  9,  9,  9,  8,  8,  9,
        9,  8,  9,  8,  8,  8,  8,  9, 10,  9,  8,  9,  9,  9,  8,  9,  9,
        8,  9,  9,  9,  9,  8,  9,  9,  9,  9,  9,  8,  9,  9,  9,  8,  9,
        9,  9,  9,  8,  9,  9,  8,  9,  8,  9,  9,  9,  9,  8,  8,  9,  9,
        9,  9,  9,  8,  9,  9,  9,  8,  9,  9,  9,  9,  9,  8,  9,  9,  9,
        8,  9,  9,  9,  9,  9,  9,  9,  9,  8,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  8,  9,  8,  9,  9,  9,  8,  9,  9,  8,  9,  8,  9,  9,  9,
        9,  8,  8,  9,  9,  8,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  8,  9,  8,  9,  8,  9,  9,  9,  9,  8,  8,  9,  9,  8,  8,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  8,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  8,  9,  9,  9,  9,  8,  9,  9,  9,  9,  9,  9,  9,  8,
        9,  8,  9,  9,  8,  9,  9,  9,  9,  9,  9,  9,  9,  9,  8,  8,  8,
        9,  9,  8,  9,  8,  8,  9,  9,  9,  9,  9,  9,  9,  8,  9,  9, 10,
        8,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  8,  9,  9,  9,  9,  8,
        9,  8,  8,  8,  9,  9,  8,  8,  9,  8,  8,  8,  8,  8,  9,  8,  9,
        9,  9,  9,  9,  8,  9,  9,  9,  8,  8,  9,  8,  8,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  8,  8,  9,  9,  9,  8,  9,  9,  8,  8,
        8,  9,  9,  8,  9,  8,  9,  9,  9,  8,  8,  9,  9,  9,  8,  9,  9,
        9,  9,  8,  8,  9,  9,  9,  9, 10,  9,  9,  9,  9,  9,  8,  9,  9,
        8,  9,  8,  8,  8,  8,  9,  8,  9,  9,  9,  8,  9,  9,  9,  8,  9,
        8,  9,  9,  9,  9,  9,  8,  9,  9,  9,  8,  8,  8,  9,  8,  8,  9,
        9,  9,  8,  9,  9,  8,  9,  9,  8,  8,  9,  8,  8,  9,  9,  9,  9,
        9,  9,  8,  9,  9,  9,  9,  8,  9,  9,  9,  8,  9,  9,  8,  9,  9,
        8,  9,  9,  9,  9,  9,  9,  8,  9,  9,  9,  9,  8,  9])

In [74]:
def coef_weights(coefficients, X_train):
    '''
    INPUT:
    coefficients - the coefficients of the linear model 
    X_train - the training data, so the column names can be used
    OUTPUT:
    coefs_df - a dataframe holding the coefficient, estimate, and abs(estimate)
    
    Provides a dataframe that can be used to understand the most influential coefficients
    in a linear model by providing the coefficient estimates along with the name of the 
    variable attached to the coefficient.
    '''
    coefs_df = pd.DataFrame()
    coefs_df['est_int'] = X_train.columns
    coefs_df['coefs'] = lm_model.coef_
    coefs_df['abs_coefs'] = np.abs(lm_model.coef_)
    coefs_df = coefs_df.sort_values('abs_coefs', ascending=False)
    return coefs_df

#Use the function
coef_df = coef_weights(lm_model.coef_, X_train)

#A quick look at the top results
coef_df.head(20)

                                  est_int     coefs  abs_coefs
10                    review_scores_value  2.967596   2.967596
14              review_scores_cleanliness  2.669329   2.669329
13                  review_scores_checkin  1.641381   1.641381
12            review_scores_communication  1.620325   1.620325
15                 review_scores_accuracy  1.431030   1.431030
19        host_response_time_within a day  0.906295   0.906295
22                 host_has_profile_pic_t  0.749227   0.749227
11                 review_scores_location  0.649955   0.649955
20  host_response_time_within a few hours  0.627914   0.627914
21      host_response_time_within an hour  0.570289   0.570289
26                      bed_type_Real Bed  0.550476   0.550476
18    cancellation_policy_super_strict_30  0.521032   0.521032
23               host_identity_verified_t  0.487742   0.487742
24                 room_type_Private room  0.484772   0.484772
17             cancellation_policy_strict -0.361944   0.361944
5                                bedrooms  0.244060   0.244060
25                  room_type_Shared room  0.181891   0.181891
3                            accommodates -0.165841   0.165841
9                       reviews_per_month -0.161395   0.161395
6                                    beds  0.122528   0.122528

In [88]:
dfls = pd.read_csv('list_seattle.csv')

In [89]:
dfls = dfls[['id','cancellation_policy','guests_included','host_response_time','host_response_rate','host_acceptance_rate','host_has_profile_pic','host_identity_verified','room_type','accommodates','bathrooms','bedrooms','beds','bed_type','price','number_of_reviews','review_scores_rating','instant_bookable','reviews_per_month','review_scores_value','review_scores_location','review_scores_communication','review_scores_checkin','review_scores_cleanliness','review_scores_accuracy']]

In [90]:
dfls['price'] = dfls['price'].str.replace('$','')
dfls['price'] = dfls['price'].str.replace(',','')
dfls['price'] = dfls.price.astype(float)
dfls['host_response_rate'] = dfls['host_response_rate'].str.replace('%','')
dfls['host_response_rate'] = dfls.host_response_rate.astype(float)
dfls['host_acceptance_rate'] = dfls['host_acceptance_rate'].str.replace('%','')
dfls['host_acceptance_rate'] = dfls.host_acceptance_rate.astype(float)
dfls = dfls.drop(['id'],axis=1)

In [99]:
dfls_a = dfls

In [100]:
num_vars = dfls_a.select_dtypes(include=['float', 'int']).columns
for col in num_vars:
    dfls_a[col].fillna((dfls_a[col].mean()), inplace=True)

In [101]:
Xs = dfls_a.drop(['review_scores_rating'],axis=1)
ys=dfls_a['review_scores_rating']

In [102]:
cat_vars = Xs.select_dtypes(include=['object']).copy().columns
for var in  cat_vars:
    Xs = pd.concat([Xs.drop(var, axis=1), pd.get_dummies(Xs[var], prefix=var, prefix_sep='_', drop_first=True)], axis=1)

In [103]:
Xs

,guests_included,host_response_rate,host_acceptance_rate,accommodates,bathrooms,bedrooms,beds,price,number_of_reviews,reviews_per_month,...,host_response_time_within an hour,host_has_profile_pic_t,host_identity_verified_t,room_type_Private room,room_type_Shared room,bed_type_Couch,bed_type_Futon,bed_type_Pull-out Sofa,bed_type_Real Bed,instant_bookable_t
0,2,96.000000,100.000000,4,1.0,1.0,1.0,85.0,207,4.070000,...,0,1,1,0,0,0,0,0,1,0
1,1,98.000000,100.000000,4,1.0,1.0,1.0,150.0,43,1.480000,...,1,1,1,0,0,0,0,0,1,0
2,10,67.000000,100.000000,11,4.5,5.0,7.0,975.0,20,1.150000,...,0,1,1,0,0,0,0,0,1,0
3,1,94.886798,99.967159,3,1.0,0.0,2.0,100.0,0,2.078919,...,0,1,1,0,0,0,0,0,1,0
4,6,100.000000,99.967159,6,2.0,3.0,3.0,450.0,38,0.890000,...,1,1,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,1,99.000000,100.000000,6,2.0,3.0,3.0,359.0,1,0.300000,...,0,1,1,0,0,0,0,0,1,0
3814,3,100.000000,100.000000,4,1.0,1.0,2.0,79.0,2,2.000000,...,1,1,1,0,0,0,0,0,1,0
3815,2,94.886798,99.967159,2,1.0,1.0,1.0,93.0,0,2.078919,...,0,1,0,0,0,0,0,0,1,0
3816,1,100.000000,99.967159,2,1.0,0.0,1.0,99.0,0,2.078919,...,1,1,1,0,0,0,0,0,1,0
3817,1,100.000000,99.967159,3,1.5,2.0,1.0,87.0,0,2.078919,...,0,1,1,0,0,0,0,0,1,0

In [107]:
reduce_Xs = Xs.iloc[:, np.where((Xs.sum() > 20) == True)[0]]
X_train, X_test, y_train, y_test = train_test_split(reduce_Xs, ys, test_size = .30, random_state=42) 
lm_model = LinearRegression(normalize=True) # Instantiate
lm_model.fit(X_train, y_train) #Fit
        
#Predict and score the model
y_test_preds = lm_model.predict(X_test) 
"The r-squared score for the model using only quantitative variables was {} on {} values.".format(r2_score(y_test, y_test_preds), len(y_test))

'The r-squared score for the model using only quantitative variables was 0.6188254195503238 on 1146 values.'

In [108]:
coef_df = coef_weights(lm_model.coef_, X_train)

#A quick look at the top results
coef_df.head(20)

                              est_int     coefs  abs_coefs
10                review_scores_value  3.000368   3.000368
14          review_scores_cleanliness  1.947019   1.947019
15             review_scores_accuracy  1.911180   1.911180
21             host_has_profile_pic_t -1.703535   1.703535
25                     bed_type_Futon -1.334128   1.334128
12        review_scores_communication  1.315150   1.315150
26             bed_type_Pull-out Sofa -1.068875   1.068875
13              review_scores_checkin  0.880702   0.880702
22           host_identity_verified_t  0.694309   0.694309
11             review_scores_location  0.683894   0.683894
2                host_acceptance_rate -0.660394   0.660394
24              room_type_Shared room  0.471765   0.471765
16       cancellation_policy_moderate -0.417547   0.417547
28                 instant_bookable_t -0.366597   0.366597
27                  bed_type_Real Bed -0.325168   0.325168
20  host_response_time_within an hour  0.300373   0.300373
23             room_type_Private room  0.215459   0.215459
9                   reviews_per_month -0.162685   0.162685
17         cancellation_policy_strict -0.144837   0.144837
4                           bathrooms  0.135726   0.135726